<!-- <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <div class="dreamit-header-menu-address">
                        <ul>
                            <li><a href="#"><i class="far fa-envelope"></i> info@moszn.ru</a></li>
                            <li><span><i class="fas fa-map-marker-alt"></i> Москва </span></li>
                            <li><a href="#"><i class="fas fa-phone"></i> +7 925 221 3410</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="dreamit-header-top-socail">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->