{% extends 'base.html' %}{% load static %}
{%block title%}{{SEO.Title}}{%endblock%}
    {%block mainWrapper %}
    
    <div class="breatcumb-area d-flex align-items-center" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breatcumb-content text-center">
                        <div class="breatcumb-title">
                            <h2>О нас</h2>
                        </div>
                        <div class="breatcumb-content-text">
                            <ul>
                                <li><a href="#">Главная</a> <i class="fas fa-angle-right"></i> <span>О нас</span></li>
                            </ul>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End	softech slider Area -->

    <div class="about-area style-two pt-90 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="dreamit-about-thumb">
                        <img src="{{page.Image.url}}" alt="{{page.Title}}">
                    </div>
                </div>	
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="dreamit-section-title text-left">
                                <h5>О нас</h5>
                                <h2>Более 7 лет опыт создания заборов <span> и навесов</span></h2>
                                <!-- <h2> <span> и навесов</span></h2> -->
                                <div class="mt-20"></div>
                                {% autoescape off %}
                                    {{page.Content}}
                                {% endautoescape %}
                            </div>
                        </div>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock mainWrapper %}