{% extends 'base.html' %}{% load static %}
{% block title %}{{ SEO.Title }}{% endblock %}
{% block mainWrapper %}
    <link rel="stylesheet" href="static/assets/css/main.css">
    <main class="site-main">
        <div class="canvas default">
            <div class="container">
                <div class="">
                    <article>
                        <header>
                            <div class="content-caption"><h1>Доставка</h1></div>
                            <figure class="image-block"><img
                                    src="static/moszabor/p641588.jpg" alt="Доставка" class="image"></figure>
                        </header>
                        <div class="mb-5">
                            <div class="h2">Преимущества</div>
                        </div>
                        <div class="row mb-5 advantages">
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img
                                        src="static/moszabor/index.png">
                                    <div>Быстрое выполнение работ</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img src="static/moszabor/index2.png">
                                    <div>Все работы под ключ</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img src="static/moszabor/index3.png">
                                    <div>Гарантия 5 лет</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img
                                        src="static/moszabor/index4.png">
                                    <div>Качественная сварка конструкции</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img src="static/moszabor/index5.png">
                                    <div>Низкие цены</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img
                                        src="static/moszabor/index6.png">
                                    <div>Поликарбонат премиум класса 10мм</div>
                                </div>
                            </div>
                        </div>
                        <div style="transform: translateY(-50px);"></div>
                        <p>Стоимость доставки навесов, козырьков, лестниц бесплатная и входит в общую стоимость договора
                            при условии производства и монтажа изделия "под ключ".</p>
                        <p>В отдельных случаях, если изделие нестандартное или объект на котором устанавливается изделие
                            находится на значительном расстоянии от МКАД, стоимость доставки оговаривается отдельно.</p>
                    </article>
                    <aside>

                    </aside>
                </div>
            </div>
        </div>
    </main>



{% endblock mainWrapper %}