{% extends 'base.html' %}{% load static %}
{% block title %}{{ SEO.Title }}{% endblock %}
{% block mainWrapper %}
    <link rel="stylesheet" href="static/assets/css/main.css">
    <main class="site-main">
        <div class="canvas darken">
            <nav class="container">
            </nav>
        </div>
        <div class="container">
            <artcile>
                <header><h1>Гарантии и сертификаты</h1></header>
                <p>На все металлические конструкции компания "Моснавесы" дает гарантию 5 лет.</p>
                <p>В гарантию включена:</p>
                <ol>
                    <li>Гарантия на металлический каркас навеса</li>
                    <li>Гарантия на обшивку из поликарбоната</li>
                    <li>Гарантия на обшивку из профнастила</li>
                    <li>Гарантия на обшивку из металлочерепицы</li>
                </ol>
                <footer class="mb-5">
                    <div class="object-header">
                        <div class="object-title"><h2>Сертификаты</h2></div>
                    </div>
                    <div id="garanties_images" class="images-list column-3">
                        <div class="item portrait"><a href="/static/moszabor/p618540.jpg" data-title="Гарантии и сертификаты"
                                                      data-gallery="garanties">
                            <picture>
                                <source srcset="/static/moszabor/p618540.jpg 1x, /static/moszabor/p618540.jpg 2x"
                                        media="(min-width: 576px)">
                                <img src="/static/moszabor/p618540.jpg 1x"
                                     srcset="/static/moszabor/p618540.jpg 2x" alt="Гарантии и сертификаты"></picture>
                        </a></div>
                        <div class="item portrait"><a href="/static/moszabor/p618542.jpg" data-title="Гарантии и сертификаты"
                                                      data-gallery="garanties">
                            <picture>
                                <source srcset="/static/moszabor/p618542.jpg 1x, /images/ci1107193v450x750s0.jpg 2x"
                                        media="(min-width: 576px)">
                                <img src="/images/ci1107193v300x500s0.jpg 1x"
                                     srcset="/images/ci1107193v450x750s0.jpg 2x" alt="Гарантии и сертификаты"></picture>
                        </a></div>
                        <div class="item portrait"><a href="/static/moszabor/p618541.jpg" data-title="Гарантии и сертификаты"
                                                      data-gallery="garanties">
                            <picture>
                                <source srcset="/static/moszabor/p618541.jpg 1x, /images/ci1107194v450x750s0.jpg 2x"
                                        media="(min-width: 576px)">
                                <img src="/images/ci1107194v300x500s0.jpg 1x"
                                     srcset="/images/ci1107194v450x750s0.jpg 2x" alt="Гарантии и сертификаты"></picture>
                        </a></div>
                    </div>
                </footer>
            </artcile>
        </div>
    </main>

{% endblock mainWrapper %}