{% extends 'base.html' %}{% load static %}
{% block title %}{{ SEO.Title }}{% endblock %}
{% block mainWrapper %}
    <link rel="stylesheet" href="static/assets/css/main.css">
    <main class="site-main">
        <div class="canvas default">
            <div class="container">
                <div class="">
                    <article>
                        <header>
                            <div class="content-caption"><h1>Монтаж навесов</h1></div>
                            <figure class="image-block"><img
                                    src="static/moszabor/p642433v1920x1080s0.jpg" alt="Монтаж навесов" class="image">
                            </figure>
                        </header>
                        <div class="mb-5">
                            <div class="h2">Преимущества</div>
                        </div>
                        <div class="row mb-5 advantages">
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img
                                        src="static/moszabor/index.png">
                                    <div>Быстрое выполнение работ</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img src="static/moszabor/index2.png">
                                    <div>Все работы под ключ</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img src="static/moszabor/index3.png">
                                    <div>Гарантия 5 лет</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img
                                        src="static/moszabor/index4.png">
                                    <div>Качественная сварка конструкции</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img src="static/moszabor/index5.png">
                                    <div>Низкие цены</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="cardAdvant"><img
                                        src="static/moszabor/index6.png">
                                    <div>Поликарбонат премиум класса 10мм</div>
                                </div>
                            </div>
                        </div>
                        <div style="transform: translateY(-50px);">
                            <div class="table-of-content">
                                <div class="table-of-content__title">Содержание</div>
                                <ul class="table-of-content__nav">
                                    <li class="table-of-content__item"><a href="#h2n1" data-anchor="#h2n1"
                                                                          class="table-of-content__anchor">Особенности
                                        монтажа навесов</a></li>
                                    <li class="table-of-content__item"><a href="#h2n2" data-anchor="#h2n2"
                                                                          class="table-of-content__anchor">Типы
                                        установки основания навеса</a></li>
                                    <li class="table-of-content__item"><a href="#h2n3" data-anchor="#h2n3"
                                                                          class="table-of-content__anchor">Монтаж
                                        навесов на бетонное основание</a>
                                        <ul class="table-of-content__nav table-of-content__nav_child">
                                            <li class="table-of-content__item"><a href="#h2n3h3n1"
                                                                                  data-anchor="#h2n3h3n1"
                                                                                  class="table-of-content__anchor">Преимущества
                                                монтажа навесов на бетонное основание</a></li>
                                            <li class="table-of-content__item"><a href="#h2n3h3n2"
                                                                                  data-anchor="#h2n3h3n2"
                                                                                  class="table-of-content__anchor">Недостатки
                                                монтажа навесов на бетонное основание</a></li>
                                        </ul>
                                    </li>
                                    <li class="table-of-content__item"><a href="#h2n4" data-anchor="#h2n4"
                                                                          class="table-of-content__anchor">Монтаж
                                        навесов с помощью буро-набивных свай</a>
                                        <ul class="table-of-content__nav table-of-content__nav_child">
                                            <li class="table-of-content__item"><a href="#h2n4h3n1"
                                                                                  data-anchor="#h2n4h3n1"
                                                                                  class="table-of-content__anchor">Преимущества
                                                монтажа навесов с помощью буро-набивных свай</a></li>
                                            <li class="table-of-content__item"><a href="#h2n4h3n2"
                                                                                  data-anchor="#h2n4h3n2"
                                                                                  class="table-of-content__anchor">Недостатки
                                                монтажа навесов с помощью буро-набивных свай</a></li>
                                        </ul>
                                    </li>
                                    <li class="table-of-content__item"><a href="#h2n5" data-anchor="#h2n5"
                                                                          class="table-of-content__anchor">Монтаж
                                        навесов с помощью винтовых свай</a>
                                        <ul class="table-of-content__nav table-of-content__nav_child">
                                            <li class="table-of-content__item"><a href="#h2n5h3n1"
                                                                                  data-anchor="#h2n5h3n1"
                                                                                  class="table-of-content__anchor">Преимущества
                                                монтажа навесов с помощью винтовых свай</a></li>
                                            <li class="table-of-content__item"><a href="#h2n5h3n2"
                                                                                  data-anchor="#h2n5h3n2"
                                                                                  class="table-of-content__anchor">Недостатки
                                                монтажа навесов с помощью буро-набивных свай</a></li>
                                        </ul>
                                    </li>
                                    <li class="table-of-content__item"><a href="#h2n6" data-anchor="#h2n6"
                                                                          class="table-of-content__anchor">Комбинированный
                                        способ монтажа основания навеса</a>
                                        <ul class="table-of-content__nav table-of-content__nav_child">
                                            <li class="table-of-content__item"><a href="#h2n6h3n1"
                                                                                  data-anchor="#h2n6h3n1"
                                                                                  class="table-of-content__anchor">Преимущества
                                                монтажа основания навесов комбинированным способом</a></li>
                                            <li class="table-of-content__item"><a href="#h2n6h3n2"
                                                                                  data-anchor="#h2n6h3n2"
                                                                                  class="table-of-content__anchor">Недостатки
                                                монтажа основания навесов комбинированным способом</a></li>
                                        </ul>
                                    </li>
                                    <li class="table-of-content__item"><a href="#h2n7" data-anchor="#h2n7"
                                                                          class="table-of-content__anchor">Крепление
                                        навеса к дому</a></li>
                                    <li class="table-of-content__item"><a href="#h2n8" data-anchor="#h2n8"
                                                                          class="table-of-content__anchor">Условия
                                        монтажа навесов</a></li>
                                </ul>
                            </div>
                        </div>
                        <table class="table k-table">
                            <tbody>
                            <tr>
                                <td>Стоимость монтажа - 800 руб. за 1 м2</td>
                            </tr>
                            </tbody>
                        </table>
                        <h2 id="h2n1">Особенности монтажа навесов</h2>
                        <p>Финальной процедурой производства навеса является его монтаж. </p>
                        <p>На объект установки навеса доставляются заранее изготовленные и покрашенные фермы, ригели
                            (опорные балки), продольные стяжки (лаги), поликарбонат и расходные материалы.</p>
                        <p>В соответствии с чертежом заказа собирается навес в следующей последовательности:</p>
                        <ol>
                            <li>Монтируются вертикальные опорные балки.</li>
                            <li>Монтируются горизонтальные опорные балки.</li>
                            <li>Монтируются фермы.</li>
                            <li>Монтируются продольные стяжки.</li>
                            <li>Устанавливается покрытие из поликарбоната.</li>
                            <li>Зачищаются сварочные и стыковые соединения.</li>
                            <li>Производится финальное окрашивание стыков.</li>
                            <li>Устанавливаются пластиковые заглушки на края опорных балок и продольных стяжек.</li>
                        </ol>
                        <h2 id="h2n2">Типы установки основания навеса</h2>
                        <p>В зависимости от типа конструкции, места расположения навеса, подготовки основания для
                            монтажа навеса, технолог предлагает тип установки навеса.</p>
                        <p>Самыми распространенными вариантами монтажа навесов являются:</p>
                        <ul>
                            <li>Монтаж навесов на бетонное основание.</li>
                            <li>Монтаж навесов с помощью буронабивных свай.</li>
                            <li>Монтаж навесов с помощью винтовых свай.</li>
                            <li>Комбинированный способ.</li>
                            <li>Монтаж навесов с помощью креплений к стене дома.</li>
                        </ul>
                        <p>Каждый из вышеперечисленных способов имеет свои преимущества и недостатки, которые мы
                            рассмотрим отдельно.</p>
                        <h2 id="h2n3">Монтаж навесов на бетонное основание</h2>
                        <p>Монтаж навесов на подготовленное бетонное основание, как правило, это бетонная плита,
                            осуществляется с помощью металлических пластин и анкерных болтов. На бетонное основание
                            крепится металлическая пластина и фиксируется с помощью анкерных болтов. Далее к
                            металлической пластине приваривается основание навеса.</p>
                        <h3 id="h2n3h3n1">Преимущества монтажа навесов на бетонное основание</h3>
                        <p>Данный тип монтажа удобен своей простотой и универсальностью, не требует дополнительных
                            вложений.</p>
                        <h3 id="h2n3h3n2">Недостатки монтажа навесов на бетонное основание</h3>
                        <p>Основным недостатком такого типа монтажа навесов является зависимость устойчивости стыкового
                            соединения с землей от качества заливки бетонного основания. В случае, если при заливке
                            использовался некачественный бетон, либо нарушена технология армирования железобетонной
                            конструкции, под воздействием внешних факторов такое основание может быть деформировано либо
                            разрушено.</p>
                        <p>Также следует учитывать тот факт, что стык металла и бетона в агрессивной среде ничем не
                            защищен и со временем под воздействием внешних факторов начнет разрушаться. Очень важно при
                            монтаже основания навесов таким способом использовать качественные пластины и болты.</p>
                        <h2 id="h2n4">Монтаж навесов с помощью буронабивных свай</h2>
                        <p>Данный вид монтажа является одним из самых распространенных и надежных способов. С помощью
                            электрического бура производится бурение отверстия на глубину не менее 1,2-1,5 метра
                            (глубина промерзания в Москве и Московской области). Далее производится армирование
                            отверстия, по центру помещается вертикальное основание навеса и заливается песко-бетонной
                            смесью. Бетон схватывается в течение 24 часов, финальное затвердевание конструкции и
                            приобретение окончательной твердости происходит в течение нескольких недель. </p>
                        <h3 id="h2n4h3n1">Преимущества монтажа навесов с помощью буронабивных свай</h3>
                        <p>Данный тип монтажа является средним по своей надежности способом установки навеса и позволяет
                            создать устойчивое основание без затрат на заливку бетонной плиты, что в конечном итоге
                            позволяет сэкономить средства клиента и рассмотреть разные варианты оформления площадки под
                            навесом, либо отложить трудоемкую и затратную заливку площадки бетоном.</p>
                        <h3 id="h2n4h3n2">Недостатки монтажа навесов с помощью буронабивных свай</h3>
                        <p>Недостатком такого способа являются дополнительные затраты на заливку буронабивных свай.
                            Данный тип монтажа также менее устойчивый по отношению к комбинированному варианту (заливка
                            столбов + заливка армированной плиты под основание для навеса)</p>
                        <h2 id="h2n5">Монтаж навесов с помощью винтовых свай</h2>
                        <p>Монтаж навесов с помощью винтовых свай осуществляется с помощью специально изготовленных
                            изделий - железных винтовых свай, которые вкручиваются в землю в месте крепления основания
                            навеса к земле на глубину 1,2-1,5 метров. Устойчивость конструкции при таком креплении
                            обеспечивается за счет лопастей винтовых свай, которые удерживают конструкцию. После монтажа
                            винтовых свай основание навеса приваривается к ним.</p>
                        <h3 id="h2n5h3n1">Преимущества монтажа навесов с помощью винтовых свай</h3>
                        <p>Данный способ крепления не предполагает бетонирования мест крепления навеса и дополнительного
                            бурения отверстия. В некоторых случаях в трубу винтовой сваи все же заливают бетон, но объем
                            материала, который используется при этом, существенно меньше, чем при заливке буронабивной
                            сваи.</p>
                        <h3 id="h2n5h3n2">Недостатки монтажа навесов с помощью буронабивных свай</h3>
                        <p>Характеристики устойчивости винтовой сваи хуже, чем у буронабивной, при сопоставимости затрат
                            на монтаж данной конструкции.</p>
                        <h2 id="h2n6">Комбинированный способ монтажа основания навеса</h2>
                        <p>Комбинированный способ монтажа основания навесов является самым надежным и устойчивым и
                            включает в себя два этапа:</p>
                        <ol>
                            <li>Монтаж основания с помощью буронабивных свай.</li>
                            <li>Заливка площадки под навес бетоном с металлическим армированием.</li>
                        </ol>
                        <p>При таком способе установки сначала осуществляется монтаж с помощью буронабивных свай, при
                            этом оставляются выпуск арматуры для подвязки к общей сетке армирования плиты.</p>
                        <p>После монтажа конструкции навеса, площадка под навес армируется и заливается бетоном. Таким
                            образом мы имеем монолитную устойчивую железобетонную конструкцию, удерживающую своим весом
                            навес.</p>
                        <h3 id="h2n6h3n1">Преимущества монтажа основания навесов комбинированным способом</h3>
                        <p>Самым основным преимуществом такого типа монтажа является его надежность по отношению ко всем
                            другим методам крепления.</p>
                        <h3 id="h2n6h3n2">Недостатки монтажа основания навесов комбинированным способом</h3>
                        <p>Недостатком такого способа монтажа является его дороговизна и финальный срок введения изделия
                            в эксплуатацию.</p>
                        <h2 id="h2n7">Крепление навеса к дому</h2>
                        <p>Крепление навеса к дому может осуществляться в случае необходимости, связанной с архитектурой
                            проекта, где предполагается примыкание навеса к стене дома. Однако такой тип монтажа, как
                            правило, комбинируется с креплением навеса на бетонное основание и на монтаж с помощью
                            буронабивных свай. У данного типа монтажа есть свои ограничения, связанные с материалом, из
                            которого изготовлена стена, и ее прочностью.</p>
                        <h2 id="h2n8">Условия монтажа навесов</h2>
                        <p>Монтаж навесов, козырьков, крыльца и прочих изделий из металла осуществляется бесплатно, в
                            случае заказа услуги "под ключ".</p>
                        <p>В противном случае услуга оказывается платно. Стоимость оговаривается отдельно.</p></article>
                </div>
            </div>
        </div>
    </main>
{% endblock mainWrapper %}