{% extends 'base.html' %}{% load static %}
{% block title %}{{ SEO.Title }}{% endblock %}
{% block mainWrapper %}
    <link rel="stylesheet" href="static/assets/css/main.css">
    <main class="site-main">
        <div class="canvas darken">
            <nav class="container">
            </nav>
        </div>
        <div class="canvas-header">
            <div class="container">
                <div class="title"><h1>
                    Акции
                </h1></div>
            </div>
        </div>
        <div class="canvas">
            <div class="container">
                <div class="content">
                    <div id="promoactionsList" data-load-url="/promoactions/Home/GetHelperHtml/"
                         data-template-name="_object-list" data-helper-name="LinkedComponents"
                         data-component-name="all-actions" data-component-class-name="PromoactionFolder"
                         data-page-index="1" data-page-size="12" data-field-name="COMPONENT_ID" data-direction="ASC"
                         data-total="2" data-list-type="grid" data-list-item-view="image-top" data-picture-type="img"
                         data-show-comment="True" data-base-url="/promoactions/" data-list-column="2"
                         data-show-meta="True" data-show-date="True" data-show-details="True"
                         data-show-details-title="Подробнее" class="object-list grid column-2 image-top">
                        <div class="item">
                            <div data-href="/promoactions/skidka-15-na-zakaz-navesov-do-1-iyunya/"
                                 class="item-img clickable">
                                <picture>
                                    <source srcset="/images/ci1130896v600x375s0.jpg 2x, /images/ci1130896v400x250s0.jpg 1x">
                                    <img src="/images/ci1130896v400x250s0.jpg 1x"
                                         srcset="/images/ci1130896v600x375s0.jpg 2x"></picture>
                                <div class="item-more">
                                    <div class="more-title">Подробнее</div>
                                </div>
                            </div>
                            <div class="item-content">
                                <div class="item-meta"></div>
                                <a title="Скидка 15% на заказ навесов до 1 июня!"
                                   href="/promoactions/skidka-15-na-zakaz-navesov-do-1-iyunya/" class="item-caption">Скидка
                                    15% на заказ навесов до 1 июня!</a></div>
                        </div>
                        <div class="item">
                            <div data-href="/promoactions/skidka-20-na-zakaz-navesov/" class="item-img clickable">
                                <picture>
                                    <source srcset="/images/ci1109105v600x375s0.jpg 2x, /images/ci1109105v400x250s0.jpg 1x">
                                    <img src="/images/ci1109105v400x250s0.jpg 1x"
                                         srcset="/images/ci1109105v600x375s0.jpg 2x"></picture>
                                <div class="item-more">
                                    <div class="more-title">Подробнее</div>
                                </div>
                            </div>
                            <div class="item-content">
                                <div class="item-meta"></div>
                                <a title="Скидка 20% на заказ навесов до 1 марта!"
                                   href="/promoactions/skidka-20-na-zakaz-navesov/" class="item-caption">Скидка 20% на
                                    заказ навесов до 1 марта!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock mainWrapper %}