<!-- Start of agents section
       ============================================= -->
       <section id="agent" class="agent-section bg-white">
        <div class="container">
            <div class="section-title text-center headline title-style-two position-relative">
                <p class="title-watermark">Agents</p>
                <span>Our Team Members </span>
                <h2>
                    Our team and branches to provide you with professional service
                </h2>
            </div>
            <div class="agent-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="agent-img-text text-center position-relative">
                            <div class="agent-img position-relative">
                                <img src="/static/img/agent/agent-1.jpg" alt="">
                            </div>
                            <div class="agent-text headline position-relative">
                                <h3><a href="#">Nasrullo Alinazarov</a></h3>
                                <span class="agent-title">Founder & Manager</span>
                                <span class="agent-has">93 600 1936</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="agent-img-text text-center position-relative">
                            <div class="agent-img position-relative">
                                <img src="/static/img/agent/agent-2.jpg" alt="">
                            </div>
                            <div class="agent-text headline position-relative">
                                <h3><a href="#">Sultonsho Guliev</a></h3>
                                <span class="agent-title">Communication Officer</span>
                                <span class="agent-has">93 xxx xxxx</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="agent-img-text text-center position-relative">
                            <div class="agent-img position-relative">
                                <img src="/static/img/agent/agent-3.jpg" alt="">
                            </div>
                            <div class="agent-text headline position-relative">
                                <h3><a href="#">Gulomsho Alinazarzod</a></h3>
                                <span class="agent-title">Sales Manager</span>
                                <span class="agent-has">93 xxx xxxx </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="agent-img-text text-center position-relative">
                            <div class="agent-img position-relative">
                                <img src="/static/img/agent/agent-4.jpg" alt="">
                            </div>
                            <div class="agent-text headline position-relative">
                                <h3><a href="#">Safina Falonieva</a></h3>
                                <span class="agent-title">Tour Manager</span>
                                <span class="agent-has">88 888 7878 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of agents section
       ============================================= -->