{% extends 'base.html' %}{% load static %}
{%block Title%}{{service.Title}}{%endblock%}

    {% block addToHead %}
    <link rel="stylesheet"  href="/static/assets/css/mzn-styles.css" type="text/css" media="all" />
    {% endblock %}
    {%block mainWrapper %}


    <div class="breatcumb-area d-flex align-items-center" style="background: linear-gradient( #049644, #fc98158c), url(/static/assets/images/header.jpg), no-repeat top center; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breatcumb-content text-center">
                        <div class="breatcumb-title">
                            <h2>{{service.Title}}</h2>
                        </div>
                        <div class="breatcumb-content-text">
                            <ul>
                                <li><a href="#">Главная</a> <i class="fas fa-angle-right"></i> <span>Заборы</span></li>
                            </ul>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End	softech slider Area -->
    

    <!--==================================================-->
    <!-- Start dreamit service Area -->
    <!--==================================================-->
    <div class="widget-service-area pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget-service-box">
                        <div class="widget-service-menu">
                            <ul>
                                {% for serv in services %}
                                <li><a class="{% if request.get_full_path == serv.get_absolute_url %}current{%endif%}" href="{{serv.get_absolute_url}}">{{ serv.Title }} <i class="fas fa-angle-right"></i></a></li>			
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="widget-service-thumb">
                        <!-- <img src="/static/assets/images/project/form.jpg" alt=""> -->
                    </div>
                </div>

                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="widget-service-thumb-detials pl-3">
                        <div class="row pt-10">
                            <div class="col-sm-6">
                                <a href="{{service.Image.url}}">
                                    <img src="{{service.Image.url}}" class="img-fluid" alt="{{service.Title }}">
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <ul class="mz-list">
                                    <li>Работаем c минимальной предоплатой</li>
                                    <li>Бесплатный выезд замерщика в день заявки</li>
                                    <li>Бесплатная доставка 50 км от МКАД</li>
                                    <li>Любые способы оплаты</li>
                                </ul>
                                
                                <div class="cena">
                                    <p>
                                        Цена: 
                                        <span class="discountedPrice">от {{service.discountedPrice}} руб.</span>
                                        <span class="actualPrice" >от {{service.actualPrice}} руб.</span>
                                    </p>
                                </div>
                                <!-- <a class="btn btn-success" id="zakazSubmitBtn" href="#" data-toggle="modal"  data-target="#zakazModal"  >Заказать навес</a> -->

                                <a class="btn btn-success" href="#" data-toggle="modal"  data-target="#zakazModal"  >Заказать забор</a>
                                <!-- <a class="btn btn-success" id="zakazSubmitBtn" href="#" data-toggle="modal"  data-target="#zakazModal"  >Заказать навес</a> -->



                            </div>
                        </div>

                        <div class="elementor-widget-title1 pt-10">
                            <!-- <h2>{{service.Title }}</h2> -->
                            {% autoescape off %}
                            {{service.Content}}
                            {% endautoescape %}
                        </div>
                    </div>
                    



                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End dreamit service Area -->
    <!--==================================================-->

    <!-- Zakaz forma   -->
    <div class="modal fade"  id="zakazModal" tabindex="-1" role="dialog" aria-labelledby="zakazModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="zakazModalLabel">Сделать заказ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'home:zaborDetails' Slug=obj.Slug %}" method="POST" novalidate id="zakaz" >{% csrf_token %}
                  <div class="form-group">
                      <label for="recipient-email" class="col-form-label">Email:</label>
                      <input type="email" name="recipient-email" class="form-control" id="recipient-email">
                  </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Ваше имя:</label>
                  <input type="text" name="recipient-name" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="recipient-phone" class="col-form-label">Телефон:</label>
                  <input type="text" name="recipient-phone" class="form-control" id="recipient-phone">
                </div>
                <input type="text" name="zakaz-id"   class="form-control" value="{{obj.id}}" hidden >
                <input type="text" class="form-control" name="csrfmiddlewaretoken" value="{{ csrf_token }}" hidden >
      
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="submit" form="zakaz" class="btn btn-success mzn-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    {% endblock mainWrapper %}
    {% block SMMMetaTags %}{% include 'home/obj-SEO.html' %}{% endblock SMMMetaTags %}