<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#zvonokModalForm" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#zvonokModalForm" >Open modal for @fat</button> -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#zvonokModalForm" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->

<div class="modal fade"  id="zvonokModalForm" tabindex="-1" role="dialog" aria-labelledby="zvonokModalFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="zvonokModalFormLabel">Обратный звонок</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Представьтесь, мы вам перезвоним.</p>
          <form action="{% url 'home:obratniyZvonok'  %}" method="POST" novalidate id="zvonokForma" >{% csrf_token %}
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Ваше имя:</label>
              <input type="text" name="recipient-name" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-phone" class="col-form-label">Телефон:</label>
              <input type="text" name="recipient-phone" class="form-control" id="recipient-phone">
            </div>
            <input type="text" class="form-control" name="csrfmiddlewaretoken" value="{{ csrf_token }}" hidden >
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" form="zvonokForma" class="btn btn-success mzn-btn">Отправить</button>
        </div>
      </div>
    </div>
  </div>