{% extends 'base.html' %}{% load static %}
{% block Title %}{{ SEO.Title }}{% endblock %}
{% block mainWrapper %}
    <style>
    h5 {
        padding: 10px;
    }
    div {
        padding: 10px;
    }
    img {
        padding: 10px;
    }
    </style>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <div class="breatcumb-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breatcumb-content text-center">
                        <div class="breatcumb-title">
                            <h2>Забор из профнастила с покрытием «Printech»</h2>
                        </div>
                        <div class="breatcumb-content-text">
                            <ul>
                                <li><a href="#">Главная</a> <i class="fas fa-angle-right"></i> <span>Интересные статьи</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
<div>
    <h5 align="center">Что такое профнастил «Printech»?</h5>
<div>Профнастил с покрытием «Принтек» – стальные оцинкованные листы с многослойным защитно-декоративным покрытием из полимеров. Один из слоёв стилизует натуральные природные отделочные материалы.

    Покрытие «Printech» востребовано в частном жилищном строительстве. Причина интереса – высокие декоративные свойства в отличие от привычных гофролистов со стандартной однотонной окраской. Солидный привлекательный забор из плотно подогнанных досок или ажурной каменной кладки с их фактурой, неровностями, оттенками цветов при рассмотрении оказывается металлическим листом с рисунком.</div>

    <h5 align="center">Профнастил с покрытием «Принтек»: особенности структуры</h5>
<div>Оцинкованная сталь профиля с покрытием «Printech» для заборов дополнительно покрывается четырьмя слоями: грунтовкой (5 мкм), базовым слоем (15-20 мкм), рисунком (3 мкм), прозрачным защитным полиэстером (PE) или поливинилдифторидом (PVDF).

    Многослойная защита придаёт профнастилу бОльшую прочность, чем обычное лакокрасочное покрытие.</div>
<img src="/static/moszabor/printek.jpeg" class="rounded mx-auto d-block">
    <h5 align="center">Рисунки на профнастиле «Принтек»: как наносятся, какие бывают</h5>
<div>Заборы с покрытием «Printech»
Слой, имитирующий природный материал на профнастиле «Printech», – это фоторисунок. Фотографируют настоящие поверхности из черепицы, натуральной меди, кирпича и пр., фото увеличивают и переносят на специальную плёнку технологией офсетной печати, то есть не зеркальным, а прямым способом. Для этого применяется специальное печатное устройство.

    Каталог состоит из нескольких видов рисунков. Наиболее востребованы камень, кирпич, дерево. Выбор рисунка – дело вкуса. Но дерево, благодаря своей красивой фактуре имитации тесины, всегда выигрывает – люди стремятся к природе и поэтому делают свой выбор в пользу него. Забор из профнастила «Принтек» с рисунком под дерево придаёт их усадьбе более укреплённый и защищённый вид.</div>

    <h5 align="center">Преимущества профнастила с покрытием «Printech» для заборов</h5>
<div>Кроме общих достоинств, свойственных профлистам любого типа, таких как низкая цена, лёгкий вес, несложный монтаж, хорошее перенесение подвижности грунта и компенсация неровных поверхностей, огнестойкости, у металлопрофиля с покрытием «Принтек» есть свои преимущества:

    <li>Высокая прочность покрытия. Полимер защищает металл от температурных перепадов, химических и механических повреждений, коррозии;</li>
    <li>Прочность рисунка. Цвет не выгорает под воздействием ультрафиолетовых лучей;</li>
    <li>Декоративные свойства. Не воспринимается как металл. При грамотном подборе рисунка может стать элементом ландшафтного дизайна;</li>
    <li>Долговечность. Эксплуатационная гарантия на покрытие РЕ 10 лет, на PVDF – 20 лет.</li></div>
    <h5 align="center">Причины заказать забор из профнастила с покрытием «Printech» в компании «Московские заборы и навесы»</h5>
    <div><li>Применение новейших технологий.</li>
    <li>Профессионализм (высококвалифицированные специалисты, многолетний опыт работы)</li>

    <li>Качество. Материалы и технологические процессы соответствуют требованиям ГОСТов.</li>
    <li>Ответственность (короткие сроки доставки, качественный монтаж)</li>

Индивидуальный подход:
    <li>- скидки при повторных заказах;</li>

    <li>- гибкая система скидок на большие партии;</li>

    <li>- удобная для клиента форма расчёта.</li>
</div>
    <h5 align="center">Заборы из профнастила с покрытием «Принтек» от компании «Московские заборы и навесы» – надежное вложение средств в долговечное декоративное ограждение личной территории.</h5>
</div>
</div>


{% endblock mainWrapper %}