{% extends 'base.html' %}{% load static %}
{% block Title %}{{ SEO.Title }}{% endblock %}
{% block mainWrapper %}
    <style>
    h5 {
        padding: 10px;
    }
    div {
        padding: 10px;
    }
    img {
        padding: 10px;
    }
    </style>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <div class="breatcumb-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breatcumb-content text-center">
                        <div class="breatcumb-title">
                            <h2>Заборы любой сложности по умеренным ценам — это реально</h2>
                        </div>
                        <div class="breatcumb-content-text">
                            <ul>
                                <li><a href="#">Главная</a> <i class="fas fa-angle-right"></i> <span>Интересные статьи</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
<div>
    <h5 align="center">Как сэкономить деньги и получить необычный забор?</h5>
    <div>Большинство людей думает, что делая выбор в пользу недорогого ограждения, о красоте и изысканности можно забыть. Но не все так однозначно. Даже самые простые и недорогие материалы, наподобие профнастила, позволяют изготавливать заборы любой сложности и многолетний опыт компании «Московские заборы и навесы» служит этому отличным подтверждением.</div>
    <h5 align="center">Как сделать необычный забор из обычных материалов?</h5>
<li>Существует несколько уловок, используя которые можно не имея дикой фантазии придумать себе оригинальное ограждение:
    <li>Полотно забора можно повернуть на 90 °, 45° или любой другой угол. При этом нужно помнить: многие материалы имеют стандартные размеры, что в некоторых случаях может привести к увеличению отходов, а иногда и наоборот — к их уменьшению.</li>
    <li>Один забор может сочетать в себе сразу несколько материалов. Например, профнастил хорошо сочетается со штакетником, а сетка-рабица отлично дополняет практически любое ограждение.</li>
    <li>Производители многих материалов могут окрасить свою продукцию практически в любой цвет. Используя вместе два-три сочетающихся тона, можно получить эксклюзивное ограждение. Главное, не выбирать слишком пестрые оттенки, впрочем, у каждого свой вкус.</li>
<br/>
    Также у Вас всегда есть возможность использовать материалы с фигурными краями. Незабываемый эффект производят заборы из проф листа, имеющие специальное покрытие, имитирующее различные породы дерева или камень.</div>
<img src="/static/moszabor/zabor-dlya-sadovogo-uchastka1.jpeg" class="rounded mx-auto d-block">
    <h5 align="center">Заборы любой сложности по доступным ценам!</h5>
    <div>
    Компания Московские заборы и навесы находится на рынке уже почти два десятилетия, и умеренные цены как на продукцию, так и на услуги по установке — одна из главных причин нашего успешного развития и роста.

Сегодня мы предлагаем несколько видов ограждений:

        <li>Сетка-рабица. Самый недорогой вид заборов. Благодаря наличию собственного производства мы можем гарантировать ее качество, в отличие от других компаний, перепродающих чужое сырье.</li>
        <li>Металлопрофиль. Самый творческий вид заборов. Используя этот материал, наши мастера могут повторить практически любой узор на ваш выбор. Цена изготовления забора полностью зависит от его сложности.</li>
        <li>Евроштакетник. Самый современный вид заборов. Сверхнадежная цинковая защита в 275 г/м. кв., удобство транспортировки и монтажа, а также потрясающий срок службы свыше 50 лет! Разве нужно что-либо добавлять?</li>
        <li>Профнастил. Самый популярный вид заборов. Он имеет оптимальное соотношение цена—качество, множество расцветок, форм и узоров, а также длительный срок службы.</li>
    <br/>
        Как видно из перечисленного, наши заборы — «самые-самые». Но это еще не все! Ведь сотрудничая с нами, вы получаете и множество иных преимуществ.
    </div>
    <h5 align="center">Приятные бонусы от сотрудничества с компанией «Московские заборы и навесы»</h5>

    <div>
    Кратко перечислим основные плюсы работы с нами:

        <li>Богатый выбор видов ограждений</li>
        <li>Максимальная экономия для клиента, минимум посредников.</li>
        <li>Собственное производство продукции.</li>
        <li>Свой автопарк для быстрой и недорогой доставки товара.</li>
        <li>Десять монтажных бригад, в которых есть все необходимые специалисты, включая геодезиста.</li>
        <li>Бесплатное предоставление бензогенератора и крепежных материалов.</li>
<br/>
        Команда «Московские заборы и навесы» долгие годы трудится, стараясь обеспечить максимум качества по минимальной цене, и это касается как изготовления забора из профлиста, так и из любого другого материала. Мы заинтересованы в том, чтобы наши ограждения не только имели презентабельный и оригинальный вид, но и были необременительными для Вас. Ведь приобретая еще одного довольного клиента, мы получаем не только бесплатного рекламщика в его лице, но и повод думать, что все эти годы трудились не напрасно.
    </div>
</div>

{% endblock mainWrapper %}