{% extends 'base.html' %}{% load static %}
{% block Title %}{{ SEO.Title }}{% endblock %}
{% block mainWrapper %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <div class="breatcumb-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breatcumb-content text-center">
                        <div class="breatcumb-title">
                            <h2>Калькулятор</h2>
                        </div>
                        <div class="breatcumb-content-text">
                            <ul>
                                <li><a href="#">Главная</a> <i class="fas fa-angle-right"></i> <span>Калькулятор</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End	softech slider Area -->

    <!--Start dreamit contact form Area -->
    <div class="contact-form-area pt-100 pb-90">
        <div class="container">
            <div class="col-lg-12 col-sm-12">
                <div class="contact-form-box">
                    <div class="dreamit-section-title section-b text-center">
                        <!-- <h5>Посчитайте сами</h5> -->

                        <h2>Калькулятор стоимости забора из рабицы</h2>
                        <!-- <h2>до гвозди</h2> -->
                        <!-- <div class="mt-20"></div> -->
                        <div class="row" style="padding-top: 30px;">
                            <div class="col-md-12">
                                <div class="portfolio_nav">
                                    <div class="portfolio_menu">
                                        <ul class="menu-filtering">
                                            <a href="/calculator/calc-profnastil" style="color: #000000">
                                                <li>Профнастил</li>
                                            </a>

                                            <a href="/calculator/calc-metal" style="color: #000000">
                                                <li>Метал штакетник</li>
                                            </a>
                                            <a href="#" style="color: #000000">
                                                <li class="current_menu_item">Рабица</li>
                                            </a>
                                            <a href="/calculator/calc-boarder" style="color: #000000">
                                                <li>Ограждение 3D</li>
                                            </a>
                                            <a href="/calculator/calc-navesi" style="color: #000000">
                                                <li>Навесы</li>
                                            </a>


                                            <!-- <li data-filter=".cemes" >Plumbing</li>
                                            <li data-filter=".math" > Repair</li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if messages %}
                            <div class="messages" style="alignment: center">
                                {% for message in messages %}
                                    <h6{% if message.tags %} class="{{ message.tags }}"
                                                             style="color: darkred" {% endif %}>{{ message }}</h6>

                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">


                <div>
                    <br class="contact-form-box">
                    <form action="{% url 'calc:rabitsa' %}" method="GET">
                        <div class="form-group row">
                            <label for="Rabizadlinazabora" class="col-md-3 col-sm-12 col-form-label">Общая длина забора,
                                включая ворота и калитки, м</label>
                            <div class="col-md-3 col-sm-12">
                                <div class="input-group">
                                    <input id="Rabizadlinazabora" name="Rabizadlinazabora"
                                           onchange="doubleValidate(this)"
                                           onkeypress="doubleValidate(this)" placeholder="Длина забора"
                                           type="number" step="0.01"
                                           value="{% if dlinaZabora %}{{ dlinaZabora }}{% else %}100.0{% endif %}"
                                           class="form-control" required="required">
                                    <div class="input-group-append">
                                        <div class="input-group-text">м</div>
                                    </div>
                                </div>
                            </div>

                            <label for="Rabizavisotazabora" class="col-md-3 col-sm-12  col-form-label">Высота
                                забора</label>
                            <div class="col-md-3 col-sm-12">
                                <select id="Rabizavisotazabora" name="Rabizavisotazabora"
                                        class="custom-select" required="required">
                                    {% for v in Rabizavisotazabora %}
                                        <option value="{{ v }}">{{ v }}
                                            <div class="input-group-append">
                                                <div class="input-group-text">м</div>
                                            </div>
                                        </option>

                                    {% endfor %}

                                </select>
                            </div>

                        </div>

                        <div id="scrollToEl" class="form-group row"></div>

                        <div class="form-group row">
                            <label for="Rabizatolshinastolba" class="col-md-3 col-sm-12  col-form-label">Выберите
                                толщину столба</label>
                            <div class="col-md-3 col-sm-12">
                                <select id="Rabizatolshinastolba" name="Rabizatolshinastolba"
                                        class="custom-select" required="required">
                                    {% for v in Rabizatolshinastolba %}
                                        <option value="{{ v }}">{{ v }}
                                            <div class="input-group-append">
                                                <div class="input-group-text">мм</div>
                                            </div>
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label for="Rabizasetka" class="col-md-3 col-sm-12 col-form-label">Толщина сетки</label>
                            <div class="col-sm-12 col-md-3">
                                <select id="Rabizasetka" name="Rabizasetka" class="custom-select" required="required">
                                    {% for v in Rabizasetka %}
                                        <option value="{{ v }}">{{ v }}
                                            <div class="input-group-append">
                                                <div class="input-group-text">мм</div>
                                            </div>
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Заглубление столба -->
                        <div class="form-group row">
                            <label for="Rabizakolvovorot" class="col-sm-12 col-md-3 col-form-label">Количество
                                ворот </label>
                            <div class="col-sm-12 col-md-3">
                                <select id="Rabizakolvovorot" name="Rabizakolvovorot" class="custom-select"
                                        required="required">
                                    {% for v in Rabizakolvovorot %}
                                        <option value="{{ v }}">{{ v }}
                                            <div class="input-group-append">
                                                <div class="input-group-text">шт.</div>
                                            </div>
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label for="Rabizashirinavorot" class="col-sm-12 col-md-3 col-form-label">Ширина
                                ворот</label>
                            <div class="col-sm-12 col-md-3">
                                <select id="Rabizashirinavorot" name="Rabizashirinavorot" class="custom-select"
                                        required="required">
                                    {% for v in Rabizashirinavorot %}
                                        <option value="{{ v }}">{{ v }}
                                            <div class="input-group-append">
                                                <div class="input-group-text">м</div>
                                            </div>
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="Rabizakolvokalitok" class="col-sm-12 col-md-3 col-form-label">Количество
                                калиток</label>
                            <div class="col-sm-12 col-md-3">
                                <select id="Rabizakolvokalitok" name="Rabizakolvokalitok" class="custom-select"
                                        required="required">
                                    {% for v in Rabizakolvokalitok %}
                                        <option value="{{ v }}">{{ v }}
                                            <div class="input-group-append">
                                                <div class="input-group-text">шт.</div>
                                            </div>
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <label for="Rabizapokraska" class="col-sm-12 col-md-3 col-form-label">Покраска</label>
                            <div class="col-sm-12 col-md-3">
                                <select id="Rabizapokraska" name="Rabizapokraska" class="custom-select"
                                        required="required">
                                    {% for v in Rabizapokraska %}
                                        <option value="{{ v }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">

                            <label for="Rabizaarmatura" class="col-sm-12 col-md-3 col-form-label">Протяжка
                                арматуры</label>
                            <div class="col-sm-12 col-md-3">
                                <select id="Rabizaarmatura" name="Rabizaarmatura" class="custom-select"
                                        required="required">
                                    {% for v in Rabizaarmatura %}
                                        <option value="{{ v }}">{{ v }}</option>
                                    {% endfor %}
                                </select>

                            </div>


                            <label for="kmMkad" onkeypress="doubleValidate(this)"
                                   class="col-md-3 col-sm-12 col-form-label">Количество км от МКАД: </label>
                            <div class="col-md-3 col-sm-12">
                                <div class="input-group">
                                    <input id="kmMkad" name="kmMkad"
                                           type="number" step="1"
                                           value="{{ kmMkad }}"
                                           class="form-control" required="required">
                                    <div class="input-group-append">
                                        <div class="input-group-text">км</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-8">
                                <p style="font-size: 12px;">
                                    *Все расчёты носят ознакомительный характер, окончательный расчёт производит
                                    менеджер с учётом всех данных.
                                </p>
                            </div>
                        </div>
                        <button type="submit"
                                class="btn btn-outline-success">Рассчитать
                        </button>
                        <a
                                class="btn btn-outline-danger" href="/calculator/calc-rabitsa?">Очистить
                        </a>
                    </form>
                    </br>

                    <script>
                        function doubleValidate(input) {
                            input.value = input.value.replace(/[,]/g, ".");
                        }
                    </script>

                    <h6>Материалы</h6>
                    <div class="wrapper_table_result" style="overflow-x:auto;">
                        <table class="calcResultMaterial table-bordered"
                               style="border-collapse: collapse;border-style: solid; border-width: 1px; border-color:black;width: 100%"
                               cellspacing="0" cellpadding="0" border="0">
                            <thead>
                            <tr style="text-align: left; color: white;background: green">
                                <th style="width:3%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    №
                                </th>
                                <th style="width:65%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Наименование
                                </th>
                                <th style="width: 7%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Ед. изм
                                </th>

                                <th style="width: 8%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Кол-во
                                </th>
                                <th style="width:10%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Цена за ед.
                                </th>
                                <th style="width: 7%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Сумма
                                </th>

                            </tr>
                            {% for v in result_ysl %}
                                <tr style="text-align: left;">
                                    <th style="width: 3%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;text-align: center">
                                        {{ v.id }}
                                    </th>
                                    <th style="width: 65%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.text }}
                                    </th>
                                    <th style="width: 8%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;text-align: center">
                                        {{ v.ed }}
                                    </th>
                                    <th style="width: 8%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;text-align: center">
                                        {{ v.count }}
                                    </th>
                                    <th style="width: 10%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;text-align: center">
                                        {{ v.price }}
                                    </th>
                                    <th style="width: 8%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.cost }}
                                    </th>
                                </tr>
                            {% endfor %}
                            {% for v in result_ysl_a %}
                                <tr style="text-align: left;color: white;background: green">
                                    <th style="width: 3%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">

                                    </th>
                                    <th style="width: 65%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.text }}
                                    </th>
                                    <th style="width: 8%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.ed }}
                                    </th>
                                    <th style="width: 8%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.count }}
                                    </th>
                                    <th style="width: 10%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.price }}
                                    </th>
                                    <th style="width: 8%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.cost }} руб.
                                    </th>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <br/>
                    <h6>Доставка</h6>
                    <div class="wrapper_table_result" style="overflow-x:auto;">
                        <table class="calcResultMaterial table-bordered"
                               style="border-collapse: collapse;border-style: solid; border-width: 1px; border-color:black;width: 100%"
                               cellspacing="0" cellpadding="0" border="0">
                            <thead>
                            <tr style="text-align: left; color: white;background: green">
                                <th style="width:33%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Наименование
                                </th>
                                <th style="width: 33%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Расстояние
                                </th>
                                <th style="width: 33%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 14px;">
                                    Сумма
                                </th>

                            </tr>
                            {% for v in result_dos %}
                                <tr style="text-align: left;">
                                    <th style="width: 33%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.text }}
                                    </th>
                                    <th style="width: 33%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.count }}
                                    </th>
                                    <th style="width: 33%;border-style: solid; border-width: 1px; border-color:black;padding: 0px 5px;font-size: 12px;">
                                        {{ v.cost }} руб.
                                    </th>
                                </tr>
                            {% endfor %}

                            </thead>
                        </table>
                    </div>
                    <br/>
                    <div class="finish-total-price"
                         style="text-transform: uppercase; font-size: 15px; font-weight: bold; border: 1px solid #000; display: table; width: 100%; color: white;background: green">
                        <span style="display: table-cell; width: 80%; padding-left: 2px;">Итоговая стоимость договора:</span>
                        <span class="stoimost"
                              style="display: table-cell; width: 20%;  border-left: 1px solid #000; font-size: 15px; text-align: center; line-height: 30px;white-space: nowrap;">{{ result }} руб.</span>
                    </div>
                    <form>
                        <br/>
                        <h6 align="center">Отправить результаты отчета</h6>
                        <br/>
                        <div class="form-group">
                            <label for="name">Ваше имя</label>
                            <input class="form-control" id="name" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="phone">Телефон</label>
                            <input class="form-control" id="phone" placeholder="">
                        </div>
                        <div class="form-group form-check">
                        </div>
                        <button type="submit" class="btn btn-success">Отправить</button>
                    </form>
                    <div class="col-sm-12"
                         style="font-size: 20px; text-align: center; font-weight: bold;  font-family: 'Oswald', sans-serif !important;;">
                        <br>
                        <p style="font-weight: bold;">
                            Обязательно позвоните нам, Вы будете приятно удивлены!
                        </p>
                        <span style="color:#049644; font-size: 30px;">+7 (925) 221-34-10</span>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $("body").append("<script async src='/bitrix/js/concept.quiz/scripts.js'><\/script><link rel='stylesheet' href='/bitrix/css/concept.quiz/template_styles.css'>");
                        });
                    </script>


                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="finish-total-price"
         style="text-transform: uppercase; font-size: 15px; font-weight: bold; border: 1px solid #000; display: table; width: 100%; color: white;background: green">
        <span style="display: table-cell; width: 80%; padding-left: 2px;">Итоговая стоимость договора:</span>
        <span class="stoimost"
              style="display: table-cell; width: 20%;  border-left: 1px solid #000; font-size: 15px; text-align: center; line-height: 30px;white-space: nowrap;">{{ result }} руб.</span>
    </div>
    <form>
        <br/>
        <h6 align="center">Отправить результаты отчета</h6>
        <br/>
        <div class="form-group">
            <label for="name">Ваше имя</label>
            <input class="form-control" id="name" placeholder="">
        </div>
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input class="form-control" id="phone" placeholder="">
        </div>
        <div class="form-group form-check">
        </div>
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
    <div class="col-sm-12"
         style="font-size: 20px; text-align: center; font-weight: bold;  font-family: 'Oswald', sans-serif !important;;">
        <br>
        <p style="font-weight: bold;">
            Обязательно позвоните нам, Вы будете приятно удивлены!
        </p>
        <span style="color:#049644; font-size: 30px;">+7 (925) 221-34-10</span>
    </div>
    <script>
        $(document).ready(function () {
            $("body").append("<script async src='/bitrix/js/concept.quiz/scripts.js'><\/script><link rel='stylesheet' href='/bitrix/css/concept.quiz/template_styles.css'>");
        });
    </script>


    </div>
    </div>
    </div>
    </div>
    <script>
        if ({{ status }} == 1
        )
        {
            document.getElementById("scrollToEl").scrollIntoView();
        }
    </script>
    <!-- End dreamit contact form Area -->

{% endblock mainWrapper %}

{% block SMMMetaTags %}{% include 'home/SEO.html' %}{% endblock SMMMetaTags %}